@tailwind base;
@tailwind components;
@tailwind utilities;

/* tus variables y estilos después */
@layer base {
  :root {
    --color-mainneutral: #E9DFFB;
    --color-secneutral: #e8f2ed;

    --color-maindark: #1a062d;
    --color-mainmid: #59169C;
    --color-mainlight: #905BEC;

    --color-secdark: #0e4d2c;
    --color-secmid: #379759;
    --color-seclight: #74b392;
  }

  body {
  font-family: 'Host Grotesk', sans-serif;
}

    h1 {
    font-size: 2rem;
    font-weight: 600;
    }

    h2 {
    font-size: 1.2rem;
    font-weight: 400;
    }

}


